body{
    margin: 0%;
    display: flex;
    background-color: hsl(0, 37%, 97%);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    font-family: Arial, sans-serif;
    max-width: 500px;
    overflow: hidden;
    background-color: hsl(0, 0%, 9%);
    border-radius: 15px;
}

#display{
    width: 100%;
    padding: 20px;
    text-align: left;
    border: none;
    color:white;
    background-color: hsl(0, 2%, 19%);
    font-size: 5rem;
}

#keys{
    padding: 25px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

button{
    font-size: 3rem;
    width: 85px;
    height: 85px;
    color: rgb(248, 237, 237);
    border-radius: 50px;
    background-color: hsl(0, 2%, 21%);
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 2%, 66%);
}

button:active{
    background-color: hsl(0, 1%, 45%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(35, 95%, 64%);
}

.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}
